[submodule "vim/bundle/vim-gitgutter"]
	path = vim_config/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-flake8"]
	path = vim_config/.vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/delimitMate"]
	path = vim_config/.vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/jupytext.vim"]
	path = vim_config/.vim/bundle/jupytext.vim
	url = https://github.com/goerz/jupytext.vim.git
[submodule "vim/bundle/vim-neatstatus"]
	path = vim_config/.vim/bundle/vim-neatstatus
	url = https://github.com/ravila4/vim-neatstatus.git
