[Unit]
Description=Change the GTK theme to light mode.
After=graphical.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'gsettings set org.gnome.desktop.interface gtk-theme Adwaita-light && gsettings set org.gnome.gedit.preferences.editor scheme builder-light'

[Install]
WantedBy=default.target
